.c-button {
    background-color: var(--color-font-base);
    background-color: rgba(255, 255, 255, var(--transpency-background)); /* TODO変数使えない */
    display: block;
    margin: 0 auto;
    height: 64px;
    width: 160px;
    border-radius: 50px;

    &_wrapper {
        display: flex;
        justify-content: center;
        position: relative;
    }
}

/* TODO 暫定css */
.c-work__button {
    width: 56px;
    object-fit: cover;
    height: auto;
    margin: -88px 0 24px 0;
    position: relative;
    

    &-wrapper {
        float: right;
        margin-left: 0;
        position: relative;
    }
}

.c-work__button.clicked {
    transform: translate(0, 40px);
    transition: all ease 1s;
}