/* @keyframes star-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes star-move {
    0% { 
        transform: translate(-50%, -50%) rotate(0deg) translateX(-300px);
        -webkit-transform: translate(-50%, -50%) rotate(0deg) translateX(-300px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(-300px);
        -webkit-transform: translate(-50%, -50%) rotate(360deg) translateX(-300px);
        opacity: 0;
    }
} */